@use '../../styles/mixins.scss' as *;

.eidos-pagelayout {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
    'navigation toolbar'
    'navigation content';
  grid-template-columns: minmax(var(--navigation-min-width), var(--navigation-max-width)) 1fr;
  grid-template-rows: auto 1fr;

  &__toolbar {
    grid-area: toolbar;
    border-bottom: 1px solid var(--gray-200);
  }

  &__navigation {
    grid-area: navigation;
    border-right: 1px solid var(--gray-200);
  }

  &__content {
    grid-area: content;
    display: grid;
    grid-template-rows: minmax(50px, auto) 1fr auto;
  }

  &__header {
    padding: var(--spacing-md);
    border-bottom: 1px solid var(--gray-200);
  }

  &__body {
    padding: var(--spacing-xl);
    background-color: var(--gray-50);
  }

  &__footer {
    padding-top: var(--spacing-md);
  }
}
