@use '../../styles/mixins.scss' as *;

.eidos-toolbar {
  @include flex-between;
  padding: 0 var(--spacing-xl);
  height: var(--toolbar-height);
  will-change: transform;

  &__brand {
    @include flex-center-y;
    gap: var(--spacing-sm);
    cursor: pointer;

    &-name {
      margin: 0;
    }
  }

  &__content {
    @include flex-center-y;
    gap: var(--spacing-lg);
  }

  &__actions {
    @include flex-center-y;
    gap: var(--spacing-sm);
  }
}
