@use '../../styles/mixins.scss' as *;

.eidos-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--spacing-sm);
  flex-wrap: wrap;
  will-change: transform;
  background-color: var(--gray-50);

  &__content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: var(--spacing-lg);
    flex-wrap: wrap;
    flex: 1;
  }

  &__actions {
    @include flex-center-y;
    gap: var(--spacing-sm);
  }

  &__title {
    font-size: var(--font-size-2xl);
    margin-bottom: var(--spacing-xs);
  }

  &__subtitle {
    font-size: var(--font-size-sm);
    color: var(--gray-500);
  }
}
