@use '../../styles/mixins.scss' as *;

.eidos-footer {
  display: flex;
  background-color: var(--gray-50);

  // Default variant (`copyright`) - centered, muted small text.
  &--copyright {
    @include flex-center-x;
    color: var(--gray-500);
    font-size: var(--font-size-sm);
  }
}
